footer {
  background-color: var(--primary-color);
  color: var(--background-color);
  display: flex;
  justify-content: center;
  padding: 2.5rem;
  flex-direction: column;
  gap: 1rem;
  font-weight: bold;

  .contact-link {
    text-align: right;
  }

  svg {
    border: 1px solid var(--background-color);
    fill: var(--background-color);
    height: 32px;
    width: 32px;
    flex: 0 0 32px;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}