
<footer>
  <h3>Esta página ha sido desarrollada con la versión 18 de Ángular, última actualización a 30/01/2025.</h3>
  <p>Imágenes utilizadas: <a href="https://picsum.photos/">Lorem Picsum</a>.</p>
  <p>Iconos utilizados: <a href="https://fonts.google.com/">Google Fonts</a>.</p>
  <p class="contact-link"><a href="https://github.com/dor-dev">GitHub</a></p>
  <p class="contact-link"><a href="linkedin.com/in/daniel-otero-rivera-dordev">LinkedIn</a></p>
  <p class="contact-link"><a href="tel:+34655424543"> +34 655 42 45 43</a></p>
  <p class="contact-link"><a href="mailto:oteroriveradaniel@gmail.com">oteroriveradaniel&#64;gmail.com</a></p>
</footer>