<div class="dor-timeline">
  <p>2018</p>
  <div class="timeline-bar">
    <div class="timeline-handler" [style]="'left: 5%'"></div>
    <div class="timeline-handler" [style]="'left: 15%'"></div>
    <div class="timeline-handler" [style]="'left: 30%'"></div>
    <div class="timeline-handler" [style]="'left: 40%'"></div>
    <div class="timeline-handler" [style]="'left: 65%'"></div>
    <div class="timeline-handler" [style]="'left: 85%'"></div>
    <div class="timeline-background"></div>
    <div class="timeline-progress"></div>
  </div>
  <p>{{ currentDate | date: "yyyy" }}</p>
</div>