.introduction {
  flex-direction: column;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--navbar-height));
  .profile-logo {
    height: 200px;
    width: 200px;
    fill: var(--primary-color);
  }
  .title-text {
    font-size: 46px;
    @media screen and (max-width: 768px) {
      font-size: 36px;
    }
  }

  .profile-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 0.5rem;

    svg {
      height: 32px;
      width: 32px;
      &:hover {
        fill: var(--secondary-color);
      }
    }
  }

  .contact-email {
    &:hover {
      color: var(--secondary-color);
    }
  }

  .signature-text {
    text-align: end;
    display: inline-block;
    width: 100%;
  }
}