body.dark {
  --background-color: #151618;
	--text-color: #dddddd;
	--primary-color: #ffc239;
  --secondary-color: #bf8aff;
}

:root {
  --navbar-height: 100px;
	--background-color: #fff;
	--text-color: #555;
	--primary-color: #21bb80;
  --secondary-color: #a963ff;
}

li {
  list-style: none;
}

a {
  text-decoration: inherit;
  color: inherit;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  fill: var(--text-color);

  font-family: monospace;
}

::selection {
  background-color: var(--secondary-color);
  color: var(--background-color);
}

a, button {
  display: inline-flex;
  align-items: center;
}

button, [role="button"] {
  cursor: pointer;
  background-color: inherit;
  color: inherit;
  border: inherit;
  outline: inherit;
  text-align: inherit;
}

* {
	margin: 0;
	padding: 0;
	min-width: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	list-style: none;
	text-decoration: none;
	color: inherit;
	fill: inherit;
  align-content: center;
}

main {
  min-height: 100vh;
  padding-top: var(--navbar-height);
  align-items: flex-start;
  display: flex;
  justify-content: center;
  overflow-y: auto;
  gap: 1rem;
}

section {
  max-width: 768px;
  width: 100%;
  margin: auto;
  display: flex;
}